<section class="banner-section" style="background-image: url({{ banner.imageData.one().getURL()  }});">
    <div class="banner-content">
        <h3>{{ banner.title }}</h3>
        <p class="text-body-md">{{ banner.redactorContent|striptags }}</p>
        <a href="#" class="link-n-arrow color-white">Link & Arrow ></a>
    </div>

    <div class="banner-tabs">
        <ol>
            <li class="banner-tabs-active">
                <a href="#one"><span class="bullet">1.</span>Innovation Partner</a>
            </li>
            <li>
                <a href="#two"><span class="bullet">2.</span>Top Class Team</a>
            </li>
            <li>
                <a href="#three"><span class="bullet">3.</span>Corporate Solutions</a>
            </li>
        </ol>
    </div>
</section>