<section class="hero-section">
    <div class="hero-image" style="background-image: url({{ hero.imageData.one().getURL()  }});"></div>
    <div class="hero-content">
        <h3 class="title-1 color-white">{{ hero.title }}</h3>
        <p class="text-body-md color-white">{{ hero.redactorContent|striptags }}</p>
        <a href="#" class="link-n-arrow color-white">Link & Arrow ></a>
    </div>
</section>